<!DOCTYPE html>

<html lang="en">
    <head>
        <script></script>
    </head>
    <body>
        <h1 style="font-family: Georgia, serif; color: #007eb0; font-size: 28pt; font-weight: bold; text-align: center; margin-top: 2%; margin-bottom: 2%;">Contact Management System</h1> 
        {%block content%} {%endblock%}
        <div style="font-family: Georgia, serif; color: black; font-size: 15pt; font-weight: bold; margin-top: 7%; text-align: center;">© Created By Soujan Wuluvrna</div> 
    </body> 
</html>
