body {
    font-family: Georgia, serif; 
    color: black; 
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.color-button{
    font-family: Georgia, serif; 
    color: white;
    background-color: #007eb0;
    border-radius: 4px;
    padding: 5pt;
    border-color: #007eb0;
    margin-right: 15pt;
}
.cancel-button{
    font-family: Georgia, serif; 
    color: black;
    background-color: white;
    border-radius: 4px;
    padding: 5pt;
    border-color: white;
    margin-right: 15pt;
}
.delete-button{
    font-family: Georgia, serif; 
    color: white;
    background-color: #d0311c;
    border-radius: 4px;
    padding: 5pt;
    border-color: #d0311c;
    margin-right: 15pt;
}
.sub-header{
    font-family: Georgia, serif; 
    color: black; 
    font-size: 24pt; 
    font-weight: bold; text-align: center; 
    margin-top: 2%; 
    margin-bottom: 2%;
}